@import "tailwindcss";

@theme {
  --color-brand-50: oklch(0.97 0.02 250);
  --color-brand-500: oklch(0.62 0.18 250);
  --color-brand-600: oklch(0.55 0.18 250);
  --color-brand-700: oklch(0.48 0.18 250);
}

html,
body,
#app {
  height: 100%;
}
